<a href="https://colab.research.google.com/github/YashD-code/TNS_DSA/blob/main/sets_tns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  Python Sets â€” DSA Theory

A **Set** in Python is an **unordered, unindexed, mutable collection of unique elements**.  
It is used when you need to store **non-duplicate data items** efficiently and perform fast membership tests.

---

### ðŸ“Œ Characteristics:
- **Unordered:** No fixed order of elements.
- **No Duplicates:** Only unique elements are stored.
- **Mutable:** Can add or remove elements.
- **Heterogeneous:** Can store elements of different data types.


---

### ðŸ“Œ Common Operations in Sets:

| Operation        | Description                                        |
|:----------------|:--------------------------------------------------|
| `add()`          | Adds a single element to the set                   |
| `update()`       | Adds multiple elements from an iterable            |
| `remove()`       | Removes a specified element (KeyError if not found)|
| `discard()`      | Removes a specified element (no error if missing)  |
| `pop()`          | Removes and returns a random element               |
| `clear()`        | Removes all elements from the set                  |
| `union()`        | Returns a new set with elements from both sets     |
| `intersection()` | Returns common elements between sets               |
| `difference()`   | Returns elements in one set but not the other      |
| `symmetric_difference()` | Returns elements not common to both sets   |
| `issubset()`     | Checks if one set is a subset of another           |
| `issuperset()`   | Checks if one set is a superset of another         |
| `len()`          | Returns the number of elements in the set          |

---

## 1. Declaring a Set

In [10]:

my_set = {1, 2, 3, 4, 5}
print("Initial Set:", my_set)

Initial Set: {1, 2, 3, 4, 5}

# Functions in Set

## 1. add ()

In [11]:
my_set = {1, 2, 3}
my_set.add(4)
print("After add:", my_set)

After add: {1, 2, 3, 4}

## 2. update ()

In [12]:
my_set = {1, 2}
my_set.update([3, 4, 5])
print("After update:", my_set)

After update: {1, 2, 3, 4, 5}

## 3. remove ()

In [13]:
my_set = {1, 2, 3}
my_set.remove(3)
print("After remove:", my_set)

After remove: {1, 2}

## 4. discard ()

In [14]:
my_set = {1, 2, 3}
my_set.discard(5)  # Won't raise error
print("After discard:", my_set)

After discard: {1, 2, 3}

## 5. pop ()

In [15]:
my_set = {10, 20, 30}
removed_item = my_set.pop()
print("Removed item:", removed_item)
print("After pop:", my_set)

Removed item: 10
After pop: {20, 30}

## 6. Clear ()

In [16]:
my_set = {1, 2, 3}
my_set.clear()
print("After clear:", my_set)

After clear: set()

##7. Union ()

In [17]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1.union(set2)
print("Union:", result)

Union: {1, 2, 3, 4, 5}

## 8. Intersection ()

In [18]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1.intersection(set2)
print("Intersection:", result)

Intersection: {2, 3}

## 9. symmetric_difference()

In [19]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1.difference(set2)
print("Symmetric Difference:", result)

Symmetric Difference: {1}

## 10. issubset()

In [20]:
set1 = {1, 2}
set2 = {1, 2, 3}
print("Is set1 subset of set2?", set1.issubset(set2))

Is set1 subset of set2? True

## 11. issuperset()

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3}
print("Is set1 superset of set2?", set2.issuperset(set1))

Is set1 superset of set2? False

## 12. len()

In [22]:
my_set = {10, 20, 30, 40}
print("Length of set:", len(my_set))

Length of set: 4

## DSA Questions

1. Remove Duplicates from a List Using Set

In [23]:
# Given list
numbers = [1, 2, 3, 2, 4, 1, 5]

# Remove duplicates by converting list to set and back to list
unique_numbers = list(set(numbers))

# Print unique numbers
print("Unique numbers:", unique_numbers)

Unique numbers: [1, 2, 3, 4, 5]

2. Check if Two Sets Have Common Elements

In [24]:
# Given sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check for common elements
if set1.intersection(set2):
    print("Yes")
else:
    print("No")

No

3. Find Elements Present in Only One of the Two Sets

In [25]:
# Given sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Symmetric difference gives elements not common to both
result = set1.symmetric_difference(set2)

# Print result
print("Elements unique to either set:", result)

Elements unique to either set: {1, 2, 4, 5}

4. Count the Number of Unique Characters in a String

In [26]:
# Given string
text = "hello"

# Convert string to set to get unique characters
unique_chars = set(text)

# Print count of unique characters
print("Number of unique characters:", len(unique_chars))

Number of unique characters: 4

5. Check if One Set is a Subset of Another

In [27]:
# Given sets
set1 = {1, 2}
set2 = {1, 2, 3, 4}

# Check if set1 is subset of set2
print("Is set1 a subset of set2?", set1.issubset(set2))

Is set1 a subset of set2? True