#  Python Tuples â€” DSA Theory

A **Tuple** in Python is an **ordered, immutable sequence of elements**.

---

## Characteristics:

- **Indexed:** Elements are accessed via zero-based index.
- **Immutable:** Once created, elements cannot be added, removed, or changed.
- **Allows Duplicates:** Tuples can have multiple occurrences of the same value.
- **Heterogeneous:** Can store elements of different data types.
- **Faster than lists** for fixed-sized collections because of immutability.

---

## Internal Implementation:

Tuples are implemented as **static arrays**, where the size is fixed after creation.  
This makes them faster and more memory-efficient for **read-only data**.

---

## Common Operations in Tuples:

| Operation      | Description                                              |
|:---------------|:---------------------------------------------------------|
| `index()`       | Returns the index of the first occurrence of a value     |
| `count()`       | Counts the number of times a value appears               |
| `len()`         | Returns the number of elements in the tuple              |
| `max()` / `min()`| Returns the largest / smallest element                  |
| `sum()`         | Returns the sum of numeric elements (if applicable)      |
| `tuple()`       | Converts an iterable (like a list) into a tuple          |

---

###  Declaration of Tuples

In [3]:
yash_tuple=(10,20,30,40,40,50)

print("Tuple:",yash_tuple)

Tuple: (10, 20, 30, 40, 40, 50)

# Functions

### 1. index()

In [4]:
print("Index of 40:",yash_tuple.index(40))

Index of 40: 3

### 2. count ()

In [5]:
print("Count of 40: ",yash_tuple.count(40))

Count of 40:  2

## 3. len ()

In [7]:
print("Length of tuple:",len(yash_tuple))

Length of tuple: 6

## 4. min () and max ()

In [9]:
print("Minimum Value in Tuple:",min(yash_tuple))
print("Maximum Value in Tuple:",max(yash_tuple))

Minimum Value in Tuple: 10
Maximum Value in Tuple: 50

## 5. sum ()

In [10]:
print("Sum of Tuple:",sum(yash_tuple))

Sum of Tuple: 190

# 6. tuple ()

In [13]:
yash_list=[10,20,30,40,50]

yash_tuple=tuple(yash_list)

print("Tuple:",yash_tuple)
print(type(yash_tuple))

Tuple: (10, 20, 30, 40, 50)
<class 'tuple'>

# DSA Problems on Tuples

### 1. Given a tuple of numbers and a target element, find and print all indexes where the target element occurs in the tuple.

In [15]:
yash_tuple=(10,20,30,40,50,20,20,80,90,100)
target=20
index=[]
for i in range(len(yash_tuple)):
  if yash_tuple[i]==target:
    index.append(i)
print("Index of",target,"is:",index)

Index of 20 is: [1, 5, 6]

## 2: Flatten a Tuple of Tuples

In [17]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
flat=[]
for i in nested_tuple:
  for j in i:
    flat.append(j)
print(tuple(flat))

(1, 2, 3, 4, 5, 6)

## 3. Swap First and Last Elements

In [18]:
my_tuple = (10, 20, 30, 40)
temp=list(my_tuple)
temp[0],temp[-1]=temp[-1],temp[0]
print("Tuple Before Swap:",my_tuple)
print("Tuple After Swap:",tuple(temp))

Tuple Before Swap: (10, 20, 30, 40)
Tuple After Swap: (40, 20, 30, 10)

 ## 4: Find Second Largest Element

In [19]:
my_tuple = (10, 40, 30, 20, 50)
yash_list=list(my_tuple)
yash_list.sort()
print("Second Largest Element:",yash_list[-2])

Second Largest Element: 40

## 5: Check if Two Tuples are Identical

In [20]:
tuple1 = (10, 20, 30)
tuple2 = (10, 20, 30)
tuple3=(10,20)
print(tuple1==tuple2)
print(tuple1==tuple3)

True
False